{% extends 'base.html' %}
{% load static %}

{% block title %}
  Delete Coin
{% endblock %}

{% block sidebar %}
  {% include 'includes/sidebar.html' %}
{% endblock %}

{% block content %}
<div class="container mt-5 justify-content-between border-bottom">
  <h2 class="text-center mb-4">Are you sure you want to delete {{ coin_name }}?</h2>

  <form method="post" class="form-group">
    {% csrf_token %}

    <div class="form-group">
      <label for="coin_id">Coin:</label>
      <input type="text" class="form-control" id="coin_id" value="{{ coin_name }}" disabled>
    </div>

    <button type="submit" class="btn btn-dark orange btn-block my-3">Delete</button>
  </form>
</div>
{% endblock %}
